<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCN3o6BGRpVX37moCGig8UYv1f4RzFvwk0</string>
	<key>GCM_SENDER_ID</key>
	<string>407414862469</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.erpSchool</string>
	<key>PROJECT_ID</key>
	<string>erp-school-8d980</string>
	<key>STORAGE_BUCKET</key>
	<string>erp-school-8d980.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:407414862469:ios:f4e23d104bc56069bb2fec</string>
</dict>
</plist>